@model IEnumerable<PNT1_ProyectoFinal_Cine.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Reserva de película</h1>

<p>
    <a asp-action="Create">Reservar</a>
</p>
<p>
    @Html.ActionLink("Ver solo reservas de hoy", "ReservasDeHoy", "Ticket")
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.asiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.asiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.Contrasenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sala)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TicketId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>


                